@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #000000, #010128);
    grid-template-areas: "nav" "main";
    grid-template-rows: 150px auto;
    display: grid;
}

nav {
    grid-area: nav;
    width: 100%;
    height: 100%;
    grid-template-areas: "container-logo pages";
    grid-template-columns: 1fr 800px;
    display: grid;
}

.container-logo {
    grid-area: container-logo;
    width: 100%;
    height: 100%;
    padding-left: 45px;
}

.logo {
    width: 150px;
}

.pages {
    grid-area: pages;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.pages a {
    position: relative;
    cursor: pointer;
    color: white;
    font-family: "Alexandria", sans-serif;
    text-decoration: none;
}

.pages a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 2px;
    background: #05347C;
    transition: width 0.3s ease-out;
}

.pages a:hover::after {
    width: 100%;
    left: 0;
    right: unset;
}

.main {
    grid-area: main;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 120px;
    grid-template-areas: "tittle" "container-cards";
    grid-template-rows: 150px auto;
}

.tittle {
    grid-area: tittle;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
    font-family: "Alexandria", sans-serif;
    color: #05347C;
    font-size: 55px;
}

.container-cards {
    grid-area: container-cards;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

.accordion {
    max-width: 900px;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #333;
}

.accordion-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
    font-family: "Alexandria", sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-header .arrow {
    transition: transform 0.3s ease, color 0.3s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    font-family: "Alexandria", sans-serif;
    background-color: transparent;
    color: #ddd;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content p {
    margin: 10px 0;
}

.accordion-item.active .accordion-content {
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}