@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.main {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom right, #000000, #010128);
    grid-template-areas: "section1" "section2" "section3";
    grid-template-rows: auto auto auto;
    display: grid;
}

.section1 {
    grid-area: section1;
    width: 100%;
    height: 100vh;
    grid-template-areas: "nav" "intro";
    grid-template-rows: 150px 1fr;
    display: grid;
    background-image: url(/img/background.png);
}

nav {
    grid-area: nav;
    width: 100%;
    height: 100%;
    grid-template-areas: "container-logo pages";
    grid-template-rows: 1fr 80px;
    display: grid;
}

.container-logo {
    grid-area: container-logo;
    width: 100%;
    height: 100%;
}

.logo {
    width: 150px;
}

.pages {
    grid-area: pages;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.pages a {
    position: relative;
    cursor: pointer;
    color: white;
    font-family: "Alexandria", sans-serif;
    text-decoration: none;
}

.pages a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 2px;
    background: #05347C;
    transition: width 0.3s ease-out;
}

.pages a:hover::after {
    width: 100%;
    left: 0;
    right: unset;
}

.intro {
    grid-area: intro;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 45px;
    flex-direction: column;
    font-family: "Alexandria", sans-serif;
}

.intro div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro span {
    margin: 10px;
}

.intro p {
    width: 70%;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 2px;
}

.section2 {
    grid-area: section2;
    width: 100%;
    height: 100%;
    grid-template-areas: "tittle cards";
    grid-template-rows: 250px 1fr;
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.tittle {
    grid-area: tittle;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Alexandria", sans-serif;
    color: white;
    text-shadow: 0px -15px #071428;
    font-size: 55px;
}

.cards {
    grid-area: cards;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 300px;
    height: 230px;
    border-radius: 10px;
    background-color: #0E2242;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    font-family: "Alexandria", sans-serif;
}

.card a,
.card a:hover {
    color: white;
}

.section3 {
    grid-area: section3;
    width: 100%;
    height: 100%;
    grid-template-areas: "tittle container-cards";
    grid-template-rows: 250px 1fr;
    display: grid;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
}

.tittle {
    grid-area: tittle;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Alexandria", sans-serif;
    color: white;
    text-shadow: 0px -15px #071428;
    font-size: 55px;
}

.container-cards {
    grid-area: container-cards;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 100px;
}

.item {
    color: #fff;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.item img {
    width: 400px;
    height: 680px;
    border-radius: 15px;
    display: flex;
}

.item::before {
    content: attr(data-text);
    width: 400px;
    height: 700px;
    display: block;
    background-color: #0008;
    position: absolute;
    font-family: "Alexandria", sans-serif;
    display: grid;
    place-content: center;
    letter-spacing: 3px;
    transform: translateY(140%);
    transition: transform .5s;
    border-radius: 15px;
    text-align: center;
}

.item:hover::before {
    transform: translateY(0%);
}